
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="{{ url_for('index.index_page') }}">BODEGA</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="{{url_for('grape_varieties.get_grape_varieties')}}">Variedades de Uva</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{url_for('reception.get_reception_stages')}}">Recepción de Uva</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{url_for('fermentation.get_all_fermetations')}}">Fermentación Alcohólica</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{url_for('aging.crianza_page')}}">Crianza / Almacenamiento</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Embotellado</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{url_for('vinification_process_bp.get_all_vinification_processes')}}">Procesos de vinificacion</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

